<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('goods_blue.login') }}" method="post">
            <span>用户名：</span> <input type="text" name="username" placeholder="请输入用户名">
        <br>
        <button>登录</button>
    </form>
</body>
</html>